/* navbar changes */
.navbar {
    border-radius: 5px;
}

.navbar-nav {
    font-size: 1.3rem;
}

/* product image size */
.product-pic {
    width: 50%;
}

/* align all products and beautify */
.products {
    height: 100vh;
    width: 90%;
    margin: 5%;
}

.card {
    padding: 1%;
}

/* buttons */
#checkout-btn {
    margin-left: 2%;
    font-size: 1.2rem;
}

/* shopping cart*/
#cart {
    margin-top: 1%;
}